{
  "env": {
    "node": false,
    "es6": true,
    "browser": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "quotes": [2, "single"],
    "no-console": [0]
  },
  "plugins": [
    "eslint-plugin-html"
  ],
  "parser": "babel-eslint",
  "globals": {
    "gapi": true,
    "Polymer": true
  }
}
